@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 216 43% 91%;
        --foreground: 224 100% 8%;
        --card: 225, 55%, 27%, 5%;
        --card-foreground: 224 100% 8%;
        --popover: 216 43% 91%;
        --popover-foreground: 224 100% 8%;
        --primary: 225 55% 27%;
        --primary-foreground: 216 43% 91%;
        --secondary: 224 55% 65%;
        --secondary-foreground: 224 100% 8%;
        --muted: 215 43% 20%;
        --muted-foreground: 224 100% 70%;
        --accent: 61 56% 48%;
        --accent-foreground: 224 100% 8%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 224 100% 8%;
        --border: 215 43% 20%;
        --input: 215 43% 20%;
        --ring: 61 56% 40%;
        --radius: 1rem;
    }

    .dark {
        --background: 216 43% 9%;
        --foreground: 224 100% 92%;
        --card: 225, 55%, 73%, 5%;
        --card-foreground: 224 100% 92%;
        --popover: 216 43% 9%;
        --popover-foreground: 224 100% 92%;
        --primary: 225 55% 73%;
        --primary-foreground: 216 43% 9%;
        --secondary: 224 55% 35%;
        --secondary-foreground: 224 100% 92%;
        --muted: 215 43% 80%;
        --muted-foreground: 224 100% 92%;
        --accent: 61 56% 52%;
        --accent-foreground: 224 100% 92%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 224 100% 10%;
        --border: 216 43% 60%;
        --input: 215 43% 80%;
        --ring: 61 56% 60%;
    }
}

@layer base {
    html {
        font-family: 'Lato', sans-serif;
    }
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
